<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <h1>My Todo List</h1>

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button style="background-color: lightblue" type="submit">
        Add Task
      </button>
    </form>

    <ul>
      {% for task in tasks %}
      <li>
        {% if task.completed %}
        <strike>{{ task.title }}</strike>
        {% else %} {{ task.title }} {% endif %}
        <a href="{% url 'delete_task' task.id %}">❌</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
